# user data

data
output
config.yaml
user.conf

# container + python env

cont
env
.env
galileo_ramp.egg-info
.julia/

# docs

doc/build
doc/_index.rst

# miscellaneous

julia.tar.gz
blender_2.8.tar.bz2
worker-*
*.lock
tmp*
dask-worker-space
__pycache__
