[submodule "deps/hdf5_dataset"]
	path = deps/hdf5_dataset
	url = https://github.com/belledon/hdf5_dataset.git
[submodule "deps/slurm"]
	path = deps/slurm
	url = https://github.com/belledon/slurm.git
[submodule "deps/ramp_physics"]
	path = deps/ramp_physics
	url = git@github.com:CNCLgithub/physics_change_detection.git
[submodule "deps/ClusterManagers"]
	path = deps/ClusterManagers
	url = https://github.com/CNCLgithub/ClusterManagers.jl
[submodule "deps/Gen_Compose"]
	path = deps/Gen_Compose
	url = git@github.com:CNCLgithub/Gen_Compose.git
